<table class="index">
  <tbody id='line-items'>
    <tr>
      <%= hook :quote_request_details_line_items_headers do %>
        <th><%= t('item_description') %></th>
        <th class="qty"><%= t('qty') %></th>
      <% end %>
    </tr>

    <% @quote_request.quote_line_items.each do |item| %>
      <tr>
        <%- locals = {:item => item} %>
        <%= hook :quote_request_details_line_item_row, locals do %>
          <td width="300"><%=item.variant.product.sku%> - <%=item.variant.product.name%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
          <td class="qty"><%=item.quantity%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
